In [1]:
number = int(input("number is:"))
if  number % 2 == 0:
    print(f"{number} is even")
else:
    print(f"{number} is odd")

55 is odd

In [3]:
print(1)
print(2)
print(3)

1
2
3

In [1]:
names = ('hema','chaitu','babool')

In [ ]:
names[0]  ## firstname
names[-1] ##  lastname
names[::-1] ## reverse order
names.append(sohail) ## no extra information added , touple is fixed

In [11]:
names = ['ram','rabart','raheam']
names[0]
names.append('sohail')
## add extra information, list is not fixed
names[::-1]

['sohail', 'raheam', 'rabart', 'ram']

In [17]:
ipl_teams ={
    'chennai': 'chennai superkings',
    'hyderabad': 'hyderabad superkings',
    'rameswaram': 'rameswaram superkings'
}

In [23]:
ipl_teams
ipl_teams['hyderabad']
ipl_teams['gujarath'] = 'ArithmeticError superkings' ## insert another value
ipl_teams

{'chennai': 'chennai superkings',
 'hyderabad': 'hyderabad superkings',
 'rameswaram': 'rameswaram superkings',
 'gujarath': 'ArithmeticError superkings'}

In [ ]:
print('city ==>  name')
print('--------------------------------')
for city ,name in ipl_teams.items():
    print(city, end='==>')
    print(name)

In [ ]:
for city in ipl_teams.keys():
    print(city)

In [ ]:
for team_names in ipl_teams.values():
    print(team_names)

In [33]:
result = ipl_teams.get('hyderabad')
print(result)

hyderabad superkings

In [ ]:
my_ipl_teams = ipl_teams
my_ipl_teams

In [35]:
courses = {'aws','azure','gcp'}

In [ ]:
courses[0]

In [37]:
for course in courses:
    print(course)

aws
azure
gcp

In [40]:
x = {1,2,3,4,5}
y = {3,4,5,6,7}
x.union(y)
x.intersection(y)

{3, 4, 5}